<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- - suite parallel="tests" name="Suite" -->
	<listeners>
		<listener class-name="NewFramework.TestComponents.Listeners" />
	</listeners>
	<test thread-count="5" name="Submit Order Test">
		<classes>
			<class name="NewFramework.tests.SubmitOrderTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="NewFramework.tests.ErrorValidationTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
